*{
    margin:0;
    padding:0;

}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

#header-nav .container{
   background-color:#E0bbe4;
   width: 100%;
   
}
#header-nav .container h1{
    margin-top: 0px;
}

#header-nav .container a{
    color: #fff;
}

#header-nav .container a:hover,#header-nav .container a:focus{
   text-decoration: none;
   background-color:#E0bbe4;
}
#header-nav .navbar-toggle
{
    margin-top: 17px;
}
#header-nav .navbar-collapse li
{
    text-align: center;
    background-color:#957dad;
   
}
 h2
{
    color:#957dad;
    padding-bottom: 10px;
}

#main-content h3
{
    padding: 10px;
}
#main-content .row
{
    margin:10px;
    background-color: #957dad;
}
